/* Halaman Register */
body {
    font-family: Arial, sans-serif;
    background-color: #ffe4ec;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.2);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #d81b60;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #f48fb1;
    border-radius: 8px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    background-color: #ff69b4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #f50057;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #c2185b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;
}